body {
  background-color: #24221f; /* This is a charcoal background */
  /* background-color: #1c135f; This is a background that matches the container */
  /* background: -webkit-linear-gradient(#1c135f, #1c137a, #1c135f); /* For Safari 5.1 to 6.0 */
  /* background: -o-linear-gradient(#1c135f, #1c137a, #1c135f); /* For Opera 11.1 to 12.0 */
  /* background: -moz-linear-gradient(#1c135f, #1c137a, #1c135f); /* For Firefox 3.6 to 15 */
  /* background: linear-gradient(#1c135f, #1c137a, #1c135f); /* Standard syntax */
}

img {
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #1c135f;
  border-radius: 14px;
  min-height: 400px;

}

.logo_left {
  float: left;
  width: 20%;
}

.upper_button_area {
  float: right;
  width: 80%;
}

.head_button, .fb_button {
  float: right;
  width: 150px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  margin: 3px;
}

.head_button{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  color: white;
  background: -webkit-linear-gradient(#f4f301, #ce9208); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f4f301, #ce9208); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f4f301, #ce9208); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f4f301, #ce9208); /* Standard syntax */
}

.fb_button {
  background-color: #6d84b4;
  font-family: Tahoma;
  color: #ffffff;
}

.fb_button > img {
  height: 20px;
  width: 20px;
}

.first_bar {
  width: 100%;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.head_image {
  width: 75%;
  float: left;
  max-height: 373px;
  image-align: bottom;
  overflow: hidden;
}

.inset_image {
  width: 25%;
  float: left;
  background-color: white;
  box-shadow: inset 0 0 10px black;
}

.inset_headshot {
  /* width: 90%; */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.head_space {
  min-height: 100px;
}

.small_head_space {
  min-height: 50px;
}

.head_bar {
  text-align: center;
}

nav {
  background-color: #1c1336;
  min-height: 42px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav_buffer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nav_button {
  float: left;
  text-decoration: none;
  color: #615582;
  font-family: Helvetica;
  border: 1px solid #1c1336;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  line-height: 40px;
}

.nav_button:hover {
  color: white;
  background-color: #1c135f;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid #1c135f;
  border-bottom: 1px solid #1c135f;
}

h2 {
  font-weight: normal;
  font-size: 32px;
  font-family: 'Open Sans Condensed', Arial, 'sans-serif';
  color: #f4f301;
}

.main_content {
  float: left;
  width: 60%;
  background-color: white;
  margin: 10px;
  padding: 15px;
}

.events {
  border-radius: 22px;
  background-color: white;
  font: Courier;
  width: 35%;
  float: left;
}

.events_title {
  font-size: 24px;
  font-weight: bold;
  background-color: orange;
  padding: 22px;
  padding-bottom: 44px;
  border-radius: 22px;
}

.events_body {
  font-size: 18px;
  padding: 22px;
  padding-top: 11px;
}

.events_body > h3 {
  font-size: 18px;
  padding: 8px;
  padding-top: 16px;
}

.events_body > p {
  text-indent: 30px;
  padding: 4px;
}

.image_area {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.logo_area {
  float: left;
  width: 50%;
  text-align: center;
  background-color: #1c135f; /* This matches the flat blue background */
}

.logo_area > img {
  width: 80%;
  padding-bottom: 12%;
}

.picture_area {
  float: right;
  width: 50%;
}

.contact_bar {
  text-align: center;
  color: white;
  margin: 5px;
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
}

.clear {
  clear: both;
}

.support_bar {
  border-radius: 7px;
  padding: 5px;
  background-color: #69bee8;
  text-align: center;
  font-size: 24px;
  /*font-family: 'Open Sans Condensed', Arial, 'sans-serif';*/
  font-weight: bold;
  color: #1c135f;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.support_area {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.email_feeder {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #69bee8;
  font-weight: bold;
}

input {
  background-color: #f4f301;
  height: 31px;
}

a {
  text-decoration: none;
}

.support_button, .continue_button {
  height: 62px;
  line-height: 62px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  color: white;
  background: -webkit-linear-gradient(#f4f301, #ce9208); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f4f301, #ce9208); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f4f301, #ce9208); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f4f301, #ce9208); /* Standard syntax */
}

.support_button:hover, .continue_button:hover {
  background: -webkit-linear-gradient(#ce9208, #f4f301); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ce9208, #f4f301); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ce9208, #f4f301); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ce9208, #f4f301); /* Standard syntax */
}

.support_button {
  width: 88%;
  min-width: 206px;
}

.continue_button {
  width: 35%;
  min-width: 213px;
  font-size: 1em;
}

footer {
  text-align: center;
  color: white;

}

.legalese {
  border: 1px solid white;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans Condensed', Arial, 'sans-serif';
}
